* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #152427;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

select,
input,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.section-heading {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading__after::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--secondary-color);
}
.section-desc {
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    padding: 0 20px;
    border: 1px solid var(--primary-color);
    border-radius: 99px;
    color: #fff;
    text-align: center;
    background: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height);
    transition: 0.25s;
}

.btn:hover {
    color: var(--primary-color);
    background: #fff;
}

/* Header */
.header {
    padding-top: 16px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);
}

.header.header--fixed {
    position: sticky;
    top: -16px;
    left: 0;
    z-index: 10;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header__inner::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 1140px;
    max-width: calc(100% - 48px);
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
    margin-right: 88px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 4px 19px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.navbar__link--active::after {
    position: absolute;
    bottom: -22px;
    left: 19px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    z-index: 1;
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--secondary-color);
}

/* Hero */
.hero__inner {
    display: flex;
    column-gap: 76px;
    padding: 60px 25px 165px 0;
}

.hero__content {
    width: 34%;
    padding-top: 43px;
    flex-shrink: 0;
}

.hero__heading {
    max-width: 368px;
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    max-width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero-actions {
    display: flex;
    align-items: center;
    column-gap: 43px;
    margin-top: 42px;
}

.hero-actions__watch-video {
    display: flex;
    align-items: center;
    column-gap: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero-actions__watch-video:hover .hero-actions__play::before {
    transform: rotate(225deg);
}

.hero-actions__play {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
}

.hero-actions__play::before {
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    display: inline-block;
    content: "";
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    transition: 0.6s;
}

.hero-actions__desc {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    white-space: nowrap;
}

.hero__media {
    position: relative;
    flex: 1 0 57%;
}

.hero__media-bg {
    position: absolute;
    top: 122px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 99px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    transform: translateY(77px);
}

.hero__decor-top {
    position: absolute;
    top: -32px;
    left: -203px;
}

.hero__decor-bottom {
    position: absolute;
    right: 20px;
    bottom: -164px;
    transform: rotate(175deg);
}

/* Partner */
.partner {
    margin-top: 42px;
}

.partner__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 201px;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.partner__agworld-group {
    display: flex;
    align-items: center;
}

.partner__agworld-brand {
    margin-left: 14px;
}

/* Service */
.service {
    margin-top: 106px;
    font-family: "Poppins", sans-serif;
}

.service__desc {
    position: relative;
    margin-left: 46px;
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service__desc::before {
    position: absolute;
    top: 9px;
    left: -46px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--secondary-color);
}

.service__row {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.service__heading {
    position: relative;
    width: 46%;
}

.service__heading::after {
    bottom: 19px;
    right: 103px;
}

.service__controls {
    padding: 41px 73px 9px 0;
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.service__controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    color: var(--secondary-color);
    background: #e2eddf;
    transition: 0.25s;
}

.service__controls-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.service__controls-btn-next {
    rotate: 180deg;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.2);
}

.service-item:hover .service-item__body {
    padding: 24px 84px 24px 18px;
}

.service-item__thumb {
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    transition: 0.6s;
}

.service-item__body {
    padding: 24px 100px 24px 0;
    transition: 0.6s;
}

.service-item__heading {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
}

/* About */
.about {
    margin-top: 149px;
    padding-bottom: 77px;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    padding-top: 13px;
}

.about__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__img:first-child {
    transform: translateY(77px);
}

.about__img-decor {
    position: absolute;
    top: 21px;
    left: 14px;
    rotate: 12deg;
}

.about-teams {
    position: absolute;
    right: -9px;
    bottom: -69px;
    width: 143px;
    height: 144px;
    padding: 19px 17px 11px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.about-teams__heading {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-teams__desc {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-teams__desc-top {
    margin-top: 6px;
    font-weight: 400;
    opacity: 0.4;
}

.about-teams__progress {
    position: relative;
    margin: 3px 0;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-teams__progress::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-teams__loading {
    display: inline-block;
    width: 98px;
    text-align: right;
}

.about-teams__img-decor {
    margin-top: 3px;
    width: 8px;
    height: 8px;
    border: 3px solid #eaeaea;
    border-radius: 50%;
    background: var(--primary-color);
}

.about-teams__member {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-teams__images {
    display: flex;
    align-items: center;
}

.about-teams__img {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.about-teams__img + .about-teams__img {
    margin-left: -6px;
}

.about__content {
    font-family: "Poppins", sans-serif;
}

.about__top-desc {
    margin-left: 46px;
    position: relative;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.about__top-desc::before {
    position: absolute;
    top: 10px;
    left: -46px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--secondary-color);
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
}

.about-stats__top,
.about-stats__bot {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
}

.about-stats__top {
    column-gap: 24px;
    padding: 36px 7px 20px 0;
}

.about-stats__num {
    color: var(--secondary-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-stats__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
}

.about-stats__bot {
    column-gap: 20px;
    padding: 38px 16px 20px 0;
}

/* Process */
.process {
    margin-top: 79px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 25px;
}

.process__inner {
    padding-top: 36px;
}

.process__desc {
    position: relative;
    margin-left: 53px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12;
}

.process__desc::before {
    position: absolute;
    top: 9px;
    left: -53px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    margin-left: 7px;
    background: var(--secondary-color);
}

.process__heading {
    position: relative;
    max-width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    bottom: 18px;
    right: -9px;
}
.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    padding: 54px 41px 25px 20px;
    transition: 0.6s;
}

.process-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 185px;
    border-radius: 33px;
    background: #e2eddf;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.process-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 1131px;
    max-width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover {
    padding: 54px 41px 25px 30px;
    cursor: pointer;
}

.process-item:hover::after,
.process-item:hover .process-item__desc {
    visibility: hidden;
    opacity: 0;
}

.process-item:hover::before,
.process-item:hover .process-item__link,
.process-item:hover .process-item__img {
    visibility: visible;
    opacity: 1;
}

.process-item:hover .process-item__img {
    bottom: -22px;
}

.process-item__order {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__info {
    margin-left: 50px;
}

.process-item__info-first {
    margin-left: 65px;
}

.process-item__heading {
    padding: 22px 0;
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__link {
    margin-left: 3px;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
}

.process-item__desc {
    max-width: 572px;
    margin-left: auto;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    transition: 0.6s;
}

.process-item__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
}

/* Project */
.project {
    margin-top: 123px;
    padding: 116px 0 63px;
    background: var(--primary-color);
}
.project__inner {
    position: relative;
}

.project__row {
    display: flex;
    column-gap: 93px;
}

.project__heading {
    position: relative;
    max-width: 457px;
    color: #e7f9f9;
    font-family: "Poppins", sans-serif;
}

.project__heading::after {
    bottom: 20px;
    right: 97px;
    background: #83a17d;
}

.project__desc {
    color: #6a8383;
}

.project__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 13px;
}

.project__actions-desc {
    color: #fff;
}

.project__link {
    display: flex;
    padding: 6px 16px;
    color: #80a07b;
    rotate: 180deg;
}

.project__link:hover {
    color: #fff;
}

.project__media {
    position: relative;
    margin-top: 65px;
}

.project__img {
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

.project__btn {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    margin: auto;
    border-width: 4px;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.25s;
}

.project__btn:hover {
    border: 4px solid #fff;
    background: var(--primary-color);
    opacity: 0.8;
}

.project__btn-icon {
    width: 36px;
    height: 36px;
    color: #fff;
}

.project__decor {
    position: absolute;
    top: 2px;
    right: -46px;
    z-index: 1;
}

/* Feature */
.feature {
    padding: 70px 0;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
}

.feature__top {
    max-width: 547px;
    text-align: center;
    margin: 0 auto;
}

.feature__desc {
    margin-top: 20px;
    color: #7d8188;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 362px;
    padding: 79px 27px 74px 37px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.6s;
}

.feature-item:hover {
    border: transparent;
    background: #fff;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
    cursor: pointer;
}

.feature-item__heading {
    margin-top: 26px;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature-item__desc {
    max-width: 264px;
    margin-top: 12px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.feature-item__desc--lw {
    max-width: 286px;
}

/* Article */
.article {
    padding: 102px 0;
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
}

.article__info {
    position: relative;
    margin-left: 46px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12;
}

.article__info::before {
    position: absolute;
    top: 9px;
    left: -46px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--secondary-color);
}

.article__row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.article__heading {
    position: relative;
    max-width: 520px;
}

.article__heading::after {
    width: 82px;
    height: 3px;
    bottom: 17px;
    right: -51px;
}

.article__desc {
    max-width: 409px;
    padding-top: 29px;
    color: #7d8188;
}

.article__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.article-item {
    transition: 0.6s;
}

.article-item:hover .article-item__img {
    transform: scale(1.2);
}

.article-item:hover .article-item__body {
    padding: 26px 49px 0 30px;
    border-radius: 0 0 20px 20px;
    background: #fff;
    box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.25);
}

.article-item:hover .article-item__heading::after {
    width: 100%;
}

.article-item:hover .article-item__date {
    padding-right: 0;
}

.article-item__thumb {
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

.article-item__img {
    width: 360px;
    height: 317px;
    border-radius: 40px 40px 0 0;
    object-fit: cover;
    transition: 0.6s;
}

.article-item__body {
    padding: 26px 14px 12px 0;
}

.article-item__category {
    --height: 26px;

    display: inline-block;
    width: 107px;
    height: var(--height);
    border-radius: 20px;
    background: #e2eddf;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: var(--height);
}

.article-item__heading {
    position: relative;
    height: 90px;
    margin-top: 13px;
}

.article-item__heading::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: calc(100% - 9px);
    height: 1px;
    background: #c4c4c4;
    transition: 0.6s;
}

.article-item__link {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.article-item__date {
    display: block;
    padding: 16px 14px 9px 0;
    /* margin-top: 16px; */
    color: #575d5e;
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    transition: 0.6s;
}
